body {
    background-image: url(../images/startrek.jpg);
    background-repeat: repeat;
}

#main-title {
    background: rgba(255, 255, 255, 0.15);
    color: yellow;
    margin-bottom: 30px;
    padding: 20px;
}

#input_StarTrek {
    margin-right: 10px;
}

#trekSearch {
    margin-bottom: 20px;
}

.gifButtons {
    margin-bottom: 25px;
}

button {
    margin-top: 10px;
    margin-right: 10px;
}

#add-ten {
    margin-bottom: 25px;
    padding: 10px;
}

#no-records {
    color: yellow;
}

h3 {
    color: yellow;
}

.gifsGrouping {
    display: flex;
    flex-flow: row wrap;
}

.st_gifDiv {
    margin-right: 5px;
    text-align: center;
}

.gifRating {
    display: inline-block;
    background-color: gray;
    color: black;
    padding: 5px;
}